# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* python
* R
* SQL

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. matplotlib
    2. panda
    3. numpy
    4. pytorch

|data science tools|
|----------|
|Power bi|
|R|
|Jupyter lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [7]:
200/60 
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

##Author

Vishal